@model ProductListModel
@{
    ViewData["Title"] = "ProductList";

}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
<h1>@_localizer["Admin Products"]</h1>
<hr />
@if (Model.Products.Count() > 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Id</td>           
            <td>@_localizer["Image"]</td>
            <td>@_localizer["Name"]</td>
            <td>@_localizer["Price"]</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {

                <tr>
                    <td>@item.Id</td>
                    <td><img src="~/images/@item.ImgUrl" width="80" /></td>
                    <td>@item.Name</td>
                    <td>@item.Price <i class="fas fa-lira-sign"></i></td>
                    <td>
                        <a class="btn btn-primary btn-sm mr-2" href="/admin/products/@item.Id">@_localizer["Edit"]</a>
                        <form action="/admin/deleteproduct" method="post" style="display:inline">
                            <input type="hidden" name="productId" value="@item.Id" />
                            <button class="btn btn-danger btn-sm mr-2" type="submit">@_localizer["Delete"]</button>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        <h4>@_localizer["No Products"]</h4>
    </div>
}
